[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
	ignore = dirty
[submodule "dotbot-yay"]
	path = dotbot-yay
	url = https://github.com/alexwh/dotbot-yay
[submodule "vim/pack/packages/start/vimtex"]
	path = vim/pack/packages/start/vimtex
	url = https://github.com/lervag/vimtex
