[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
	ignore = dirty
[submodule "vim/pack/packages/start/vimtex"]
	path = vim/pack/packages/start/vimtex
	url = https://github.com/lervag/vimtex
